---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -modernize-raw-string-literal,
  -modernize-avoid-c-arrays,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -performance-enum-size,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix
WarningsAsErrors: '*'
FormatStyle: file
SystemHeaders: false
CheckOptions:
  - key: misc-const-correctness.AnalyzeValues
    value: false
